In [1]:
"""
You need to run this cell for the code in following cells to work.
"""

# Enable module reloading
%load_ext autoreload
%autoreload 2

import os
os.chdir("..")

import pandas as pd
from src.data.analysis import get_outliers
from src.data.pipelines import primary_use_pipeline, square_feet_pipeline, air_temperature_pipeline, \
    air_temperature_without_outliers_pipeline, dew_temperature_pipeline, \
    dew_temperature_without_outliers_pipeline, sea_level_pressure_pipeline, wind_speed_pipeline, \
    wind_speed_without_outliers_pipeline, wind_direction_pipeline

In [2]:
def check_mean_and_variance(df_column):
    mean = round(df_column.mean(), 2)
    var = round(df_column.var(), 2)
    print(f'mean = {mean}, variance = {var}')

# Data preprocessing

In [3]:
building_metadata = pd.read_csv('data/building_metadata.csv')
building_metadata.head()

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

## Buildings data

### Primary use

In this preprocessing we merge less numerous categories of primary use to category `Other` and encode values using One Hot Encoding.

In [4]:
primary_use_feature = pd.DataFrame(primary_use_pipeline.fit_transform(building_metadata))
primary_use_feature.head()

     0    1    2    3    4    5
0  1.0  0.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0
2  1.0  0.0  0.0  0.0  0.0  0.0
3  1.0  0.0  0.0  0.0  0.0  0.0
4  1.0  0.0  0.0  0.0  0.0  0.0

We can see that there is only 6 categories instead of 16 original and values are properly encoded.

### Square feet

In this preprocessing we scale values to zero mean unit variance.

In [5]:
square_feet_feature = pd.DataFrame(square_feet_pipeline.fit_transform(building_metadata))
square_feet_feature.head()

          0
0 -0.764729
1 -0.807282
2 -0.783297
3 -0.617951
4  0.221212

In [6]:
check_mean_and_variance(square_feet_feature[0])

mean = 0.0, variance = 1.0

We can see that are properly scaled.

## Weather data

In [7]:
train_weather = pd.read_csv('data/weather_train.csv')
train_weather

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6
...,...,...,...,...,...,...,...,...,...
139768,15,2016-12-31 19:00:00,3.0,NaN,-8.0,NaN,NaN,180.0,5.7
139769,15,2016-12-31 20:00:00,2.8,2.0,-8.9,NaN,1007.4,180.0,7.7
139770,15,2016-12-31 21:00:00,2.8,NaN,-7.2,NaN,1007.5,180.0,5.1
139771,15,2016-12-31 22:00:00,2.2,NaN,-6.7,NaN,1008.0,170.0,4.6
139772,15,2016-12-31 23:00:00,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8

In [8]:
square_feet_feature = pd.DataFrame(square_feet_pipeline.fit_transform(building_metadata))
square_feet_feature.head()

          0
0 -0.764729
1 -0.807282
2 -0.783297
3 -0.617951
4  0.221212

### Air temperature

In this preprocessing we fill in missing values using rolling average and scale values to zero mean unit variance.

In [9]:
air_temperature_feature = pd.DataFrame(air_temperature_pipeline.fit_transform(train_weather))
air_temperature_feature.head()

          0
0  0.995738
1  0.939274
2  0.788704
3  0.628723
4  0.525206

In [10]:
air_temperature_feature[0].isna().sum()

0

In [11]:
check_mean_and_variance(air_temperature_feature[0])

mean = 0.0, variance = 1.0

We can see that there is zero missing values and values are properly scaled.

In this preprocessing we focus on replacing outliers with 5th percentile or 95th percentile.

In [12]:
air_temperature_without_outliers_feature = \
    pd.DataFrame(air_temperature_without_outliers_pipeline.fit_transform(train_weather))
air_temperature_without_outliers_feature.head()

          0
0  1.010217
1  0.952421
2  0.798300
3  0.634545
4  0.528587

In [13]:
get_outliers(air_temperature_without_outliers_feature, 0)

lower bound: -2.87172198528123
upper bound: 2.9078396453263515

              0
61806 -2.871722
62355 -2.871722
62852 -2.871722
96766 -2.871722
97315 -2.871722
97812 -2.871722

We can see that outliers were correctly replaced (returned values are only rounding error).

### Dew temperature

In this preprocessing we fill in missing values using rolling average and scale values to zero mean unit variance.

In [14]:
dew_temperature_feature = pd.DataFrame(dew_temperature_pipeline.fit_transform(train_weather))
dew_temperature_feature.head()

          0
0  1.292475
1  1.404847
2  1.404847
3  1.353769
4  1.292475

In [15]:
dew_temperature_feature[0].isna().sum()

0

In [16]:
check_mean_and_variance(dew_temperature_feature[0])

mean = 0.0, variance = 1.0

We can see that there is zero missing values and values are properly scaled.

In this preprocessing we focus on replacing outliers with 5th percentile or 95th percentile.

In [17]:
dew_temperature_without_outliers_feature = \
    pd.DataFrame(dew_temperature_without_outliers_pipeline.fit_transform(train_weather))
dew_temperature_without_outliers_feature.head()

          0
0  1.314705
1  1.429847
2  1.429847
3  1.377510
4  1.314705

In [18]:
get_outliers(dew_temperature_without_outliers_feature, 0)

lower bound: -2.882740752309666
upper bound: 2.8952894356771677

              0
62510 -2.882741
62793 -2.882741
97470 -2.882741
97753 -2.882741

We can see that outliers were correctly replaced (returned values are only rounding error).

### Sea level pressure

In this preprocessing we fill in missing values using rolling average and scale values to zero mean unit variance.

In [19]:
sea_level_pressure_feature = pd.DataFrame(sea_level_pressure_pipeline.fit_transform(train_weather))
sea_level_pressure_feature.head()

          0
0  0.466649
1  0.532188
2  0.532188
3  0.519080
4  0.505972

In [20]:
sea_level_pressure_feature[0].isna().sum()

8755

Since there are still some missing values, we will look into them to find out why they were not filled in with some value.

In [21]:
train_weather[train_weather.sea_level_pressure.isna()].sea_level_pressure.isna().sum()

10618

We can see that although some values were filled in, most were not.

In [22]:
train_weather.groupby(['site_id']).count()

,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
site_id,,,,,,,,
0,8784,8781,4954,8781,8783,8699,8534,8784
1,8763,8762,1701,8762,0,8711,8760,8763
2,8783,8782,6429,8782,8717,8739,8192,8778
3,8780,8776,5138,8774,8743,8622,8627,8776
4,8783,8783,4553,8781,7466,8710,8678,8783
5,8755,8753,2725,8753,0,0,8460,8752
6,8782,8772,5790,8772,8782,8607,8003,8743
7,8614,8614,0,8591,731,8606,8614,8614
8,8784,8781,4954,8781,8783,8699,8534,8784
9,8780,8775,5322,8773,8773,8541,6222,8683
10,8782,8758,6332,8755,8755,8641,8248,8678
11,8614,8614,0,8591,731,8606,8614,8614
12,8755,8755,8696,8755,0,8699,8754,8755
13,8783,8782,4485,8782,8771,8663,8566,8782
14,8777,8776,5466,8776,8746,8667,8487,8754
15,8454,8454,4055,8451,1703,7945,8212,8426

We can see that for 5th site there are no values of sea_level_pressure and therefore we have no way of filling in these data. Also precipitation is missing for that site.

We will probably throw away this attribute or site, because we have no way of filling in data.

In [23]:
check_mean_and_variance(sea_level_pressure_feature[0])

mean = 0.0, variance = 1.0

### Wind speed

In this preprocessing we fill in missing values using rolling average and scale values to zero mean unit variance.

In [24]:
wind_speed_feature = pd.DataFrame(wind_speed_pipeline.fit_transform(train_weather))
wind_speed_feature.head()

          0
0 -1.524278
1 -0.881804
2 -1.524278
3 -1.524278
4 -0.410656

In [25]:
wind_speed_feature[0].isna().sum()

0

In [26]:
check_mean_and_variance(wind_speed_feature[0])

mean = -0.0, variance = 1.0

We can see that there is zero missing values and values are properly scaled.

In this preprocessing we focus on replacing outliers with 5th percentile or 95th percentile.

In [27]:
wind_speed_without_outliers_feature = \
    pd.DataFrame(wind_speed_without_outliers_pipeline.fit_transform(train_weather))
wind_speed_without_outliers_feature.head()

          0
0 -1.609404
1 -0.919681
2 -1.609404
3 -1.609404
4 -0.413884

In [28]:
get_outliers(wind_speed_without_outliers_feature, 0)

lower bound: -2.6439894378040787
upper bound: 2.6898716490125114

Empty DataFrame
Columns: [0]
Index: []

We can see that outliers were correctly replaced.

### Wind direction

In this preprocessing we fill in missing values using rolling average and scale values to zero mean unit variance.

In [29]:
wind_direction_feature = pd.DataFrame(wind_direction_pipeline.fit_transform(train_weather))
wind_direction_feature.head()

IndexError: list index out of range

In [ ]:
wind_direction_feature[0].isna().sum()

In [ ]:
check_mean_and_variance(wind_direction_feature[0])

We can see that there is zero missing values and values are properly scaled.